<?xml version="1.0" encoding="utf-8"?>
<launch>
    <include file="$(find russell_fireworks_description)/launch/description.launch" />
    <rosparam file="$(find russell_fireworks_bringup)/config/network.yaml" command="load" />
    <rosparam file="$(find kuka_rsi_hw_interface)/config/hardware_controllers.yaml" command="load"/>
    <rosparam file="$(find kuka_rsi_hw_interface)/config/controller_joint_names.yaml" command="load"/>

    <node name="kuka_hardware_interface" pkg="kuka_rsi_hw_interface"
      type="kuka_hardware_interface_node" respawn="false"
      output="screen"
      required="true"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="position_trajectory_controller joint_state_controller"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <include file="$(find russell_fireworks_moveit_config)/launch/move_group.launch" />
</launch>
